.navbar {
    height: 70px;
}

.gradient-custom {
    background: #6a11cb;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.bg-blue-light {
    background-color: #e4f3ff;
}

.alert-login{
    top: 2rem !important;
    right: -6rem !important;
}